name: Executar rotinas PHP

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install selenium

      - name: Install Edge
        run: |
          sudo apt-get update
          sudo apt-get install -y microsoft-edge-stable

      - name: Run script
        run: |
          python abrir_links.py
